.main-area{
    width: 80%;
    margin: auto;
    text-align: left;
    color: #000000;
    font-family: 'Roboto', sans-serif;

}

.section-header{

    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

}

.usertype-disclaimer{
    
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

.usertype-q{
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
}

@media only screen and (min-width: 480px) {
    .main-area{
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }

    .manulife-btn{
        width: 200px;
        display: inline;
        margin-right: 40px;
    }

    .btn-wrapper{
        display: flex;
        width: 100%;
        justify-content:center;
    }

    .section-header{
        text-align: center;
    }

    .usertype-disclaimer{
        margin-left:auto;
        margin-right:auto;
        width: 50%;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: left;
    }
}

@media only screen and (max-width: 480px) {
    .section-header{
        text-align: left;
    }
}