.section-header{

    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

}

.usertype-disclaimer{
    
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

.usertype-q{
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px; 
}

.btn-wrapper{
    margin-top: 1em;
}

.manulife-btn{
    margin: 0.8em 0;
    font-size: 1.1rem;
}

/* desktop version */
@media only screen and (min-width: 525px) {
    body{
        /* background-color: #F5F5F5; */
    }


    .usertype-disclaimer{
        font-size: 16px;
        font-weight: 400;
        /* padding: 1.6em 0em; */
        margin-top: 1.6em;
    }

    .section-header{
        padding: 0 1em;
    }

    .usertype-q{
        /* padding:  0em; */
    }

    .btn-wrapper{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0.8em;
    }

    .manulife-btn{
        margin: 0 0.6em;
        font-size: 1.2rem;
    }
}


/* mobile version */
/* @media only screen and (max-width: 480px) {
    
} */