.headerlbl{
    font-size: 19px;
}

.hlbl{
    padding-left: 0 !important;
}

.subHeaderBold{
    font-weight: 600;
}

.phoneLogo{
    height: 107px;
    width: 107px;
}

.subHeaderOTP{
    font-size: 16px;
}

.qrcodetext {
    font-size: 13px;
    color: rgb(110, 106, 101);
}


/* desktop version */
@media only screen and (min-width: 525px) {

    .btn-white {
        order: 1;
    }

    .btn-orange {
        order:2;
    }
    
}