.subContainer{
    /* border: 1px solid black; */
}
.container{
    /* border: 1px solid black; */
}

.headerlbl{
    font-size: 19px;
}

.hlbl{
    padding-left: 0 !important;
}

.subHeaderBold{
    font-weight: 600;
}

.phoneLogo{
    height: 107px;
    width: 107px;
}

.subHeaderOTP{
    font-size: 16px;
}


/* desktop version */
@media only screen and (min-width: 525px) {
    .subOTPContainer{
        padding: 2em;
        /* width: 66%; */
    }
    .btn-white {
        order: 1;
    }

    .btn-orange {
        order:2;
    }
    
}