.container{
    /* border: 5px solid black; */
    /* padding: 1em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 80%;
}

.subContainer{
    width: fit-content;
    /* border: 5px solid #ffa500; */
    background-color: white; 
    margin: auto;
    text-align: left;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.header_label{
    /* border: 1px solid black; */
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    padding-top:1em;
}

.form-control{
    margin-bottom: 1.1em;
    /* border-bottom: 2px solid #09874E; */
    border-radius: 0;
    padding: 0.5em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.progressBarContainer1{
    /* border: 1px solid black; */
    /* padding: 1em; */
}

.progressBarLabel1{
    /* border: 1px solid black; */
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.insideContainer{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.grpContainer{
    display: flex;
    flex-direction: column;
    /* border: 2px solid orange */
}
.headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8em 0;
}
.plantLogo{
    height: 107px;
    width: 107px;
}
  
/* desktop version */
@media only screen and (min-width: 525px) {
    .header_label{
        
    }
    .container{
        width: 66%;
    }
    .subContainer{
        padding: 2em;
        width: 70%;
    }
    .btn-white {
        order: 1;
    }

    .btn-orange {
        order:2;
    }
    .grpContainer{
        flex-direction: row;
    }
}