
.cardContainer {
  display: flex;
  flex-direction: column;
  /* border: 1px solid orange; */
  margin: auto;
  /* padding: 1em; */
}

.cardPhoto {
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 0em; */

  
}



.cardDesc {
  /* border: 1px solid green; */
  width: 100%;
  min-width: 58%;
  padding: 0 1.4em;
  margin-top: 1.4em;
  /* margin-bottom: 1em */
}

.frontImg{
  width: 100%;
  min-width: 300px;
  height: 200px;
}

.featureList{
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;

}
.paraDesc{
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;

}
.signInBtn{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 4em;
}

/* desktop version */
@media only screen and (min-width: 700px) {
  .cardContainer{
    flex-direction: row;
    justify-content: space-between;
  }
  .cardDesc{
    margin-top: 0em;
    margin-bottom: 0em
  }
  .signInBtn{
    margin: 2em 0;
  }
  .cardDesc {
    /* margin-bottom: 2.4em */
  }
}
