/* ProgressBar.css */
.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    /* border: 1px solid orange; */
  }
  
  .iconsContainer {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 0.4em;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc; /* Default color for inactive icons */
    transition: transform 1s ease; /* Add transition for smooth scaling */
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    /* border: 1px solid green; */

  }
  
  .icon.active {
    color: green; /* Color for active icon */
    transform: scale(1.1); /* Scale up the active icon */
    /* margin: 1em; */
  }
  
  .icon-label {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  
  .progress {
    width: 100%; /* Adjust width as needed */
    height: 3px; /* Adjust height as needed */
    background-color: #e0e0e0; /* Default background color for progress bar */
    /* border: 1px solid black; */
  }
  
  .progress-bar {
    height: 100%;
    background-color: green; /* Color for the active portion of the progress bar */
  }
  
