/* ProgressBar.css */
.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0em 0;
  }
  
  .iconsContainer {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Adjust width as needed */
    margin-bottom: 0px; /* Adjust spacing as needed */
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc; /* Default color for inactive icons */
    transition: transform 1s ease; /* Add transition for smooth scaling */
  }
  
  .icon.active {
    color: green; /* Color for active icon */
    transform: scale(1.2); /* Scale up the active icon */
  }
  
  .icon-label {
    margin-top: 5px; /* Adjust spacing between icon and label as needed */
  }
  
  .progress {
    width: 80%; /* Adjust width as needed */
    height: 3px; /* Adjust height as needed */
    background-color: #e0e0e0; /* Default background color for progress bar */
  }
  
  .progress-bar {
    height: 100%;
    background-color: green; /* Color for the active portion of the progress bar */
  }
  
