/* ProgressBar.css */
.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 1000px;
    margin: auto;
    background-color:white;
    /* border: 1px solid orange; */
  }
  .progress-position{
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 10px; /* Set the height of the progress bar */
    z-index: 1000;
    
  }
  .iconsContainer {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 0.4em;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc; /* Default color for inactive icons */
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    /* border: 1px solid green; */
  }
  .icon:hover {
    transform: scale(1.1); /* Adjust the scale factor for the hover effect */
  }
  .icon.active {
    color: green; /* Color for active icon */
    transform: scale(1.1); /* Scale up the active icon */
    /* margin: 1em; */
  }
  
  .icon-label {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  
  .progress {
    width: 100%; /* Adjust width as needed */
    height: 3px; /* Adjust height as needed */
    background-color: #e0e0e0; /* Default background color for progress bar */
    /* border: 1px solid black; */
  }
  
  .progress-bar {
    height: 100%;
    background-color: green; /* Color for the active portion of the progress bar */
  }

  
  
/* Media Query for Mobile View */
@media (max-width: 768px) {
    .progressContainer {
      height: auto;
    }
  
    .iconsContainer {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  
    .icon {
      margin-bottom: 10px;
      font-size: 0.4em; 
    }
  
    .icon-label {
      font-size: 1.6em;
      /* font-size: 7px; Adjust font size for labels on smaller screens */
    }
  
    .progress, .progress-bar {
      width: 100%;
    }
  }