.main-area{
    width: 80%;
    
    text-align: left;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.section-header{

    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin: auto;
}

.usertype-disclaimer{
    
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

.usertype-q{
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
}


.verification-options {
    margin: auto;
    display: flex;
    gap: 10px;
  }
  
  .verification-button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .verification-button.selected {
    background-color: #4caf50; /* Green color */
    color: white;
  }

@media only screen and (min-width: 480px) {
    .main-area{
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }

    .manulife-btn{
        width: 200px;
        display: inline;
        margin-right: 40px;
    }

    .btn-wrapper{
        display: flex;
        width: 100%;
        justify-content:center;
    }

    .usertype-disclaimer{
        margin-left:auto;
        margin-right:auto;
        width: 50%;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.07px;
        text-align: left;
    }
}

@media only screen and (max-width: 480px) {
    .section-header{
        text-align: left;
    }
}