

.employment-wrapper{
    padding-left: 0;
    padding-right: 0;
    margin-top: 17px;
}

.error-message{
    font-size: small;
    color:crimson;
    margin-bottom: 10px;
    display: block;
}

.input-div{
    margin-bottom: 1.1em;
    padding: 0 1em;
    
}


.labeldef{
    font-size: small;
    color: #09874E;
}

.input-group-text{
    /* display: ; */
    border: none;
    background-color: #09874E;
    color: white;
    font-weight: 500;
    height: 2.5em;
    padding: 1.2em;
    /* border: 1px solid black; */
}

.form-select{
    border: 2px solid #09874E;
    color:#09874E;
}
