
.employment-wrapper{
    padding-left: 0;
    padding-right: 0;
    margin-top: 17px;
}

.error-message{
    font-size: small;
    color:crimson;
    margin-bottom: 10px;
}

.input-div{
    margin-bottom: 1.1em;
    padding-left: 0;
    padding-right: 0;
}

.progress-step{
    font-size: small;
    color: #03bf66;
}

/* label{
    font-size: small;
    color: #03bf66;
} */

.dollar-sign{
    display: inline;
}

#graduation-date div{
    margin-left:5px;
}

.less-income{
    font-size: smaller;
    color: #03bf66;
}

